*{
    margin: 0;
    padding: 0;
}
/* banner section styles */
.banner{
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/banner/banner1.png");  

}
.banner-text{   
    text-align: right;
    padding:  100px 200px 300px 600px;   
}
.banner-title{
    font-size: 60px;
}
.banner-para{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #474747;
}
.banner-btn{
    font-size: 20px;
    padding: 10px 15px;
    background:rgba(146, 104, 26, 0.836);
    border-radius: 7px;
    border: 0;
    
}
.banner-btn:hover{
    background-color: aqua;
    cursor:grab;
}
/* main section styles */
.container{
    margin: 120px auto;
    padding: 50px 80px 0 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    background-color: rgba(58, 78, 78, 0.301);
    
}
.col-title{
    font-size: 45px;
    margin-bottom: 20px;
    
}
.col-para{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #474747;
    text-align: justify;
}