*{
    margin: 0;
    padding: 0;
}
/* banner section styles */
.banner{
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/banner/banner1.png");  

}
.banner-text{   
    text-align: right;
    padding:  100px 200px 300px 600px;   
}
.banner-title{
    font-size: 60px;
}
.banner-para{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #474747;
}
.banner-btn{
    font-size: 20px;
    padding: 10px 15px;
    background:rgba(146, 104, 26, 0.836);
    border-radius: 7px;
    border: 0;
    color: white;
    
}
.banner-btn:hover{
    background-color: aqua;
    cursor:grab;
    color: black;
}
/* main section styles */
.container{
    margin: 120px auto;
    padding: 50px 80px 0 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    background-color: rgba(58, 78, 78, 0.301);
    
}
.col-title{
    font-size: 45px;
    margin-bottom: 20px;
    
}
.col-para{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #474747;
    text-align: justify;
}
/* my plan section styles */
 
.plan-title{
    text-align: center;
    font-size: 45px;
    font-family: monospace;
}
.items{
    display: flex;
    justify-content: space-around;
    padding: 110px 130px;
    
}
.items-row{
    text-align: center;
}
.row-title{
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 7px;
    font-family: monospace;
} 
.row-para{
    font-size: 18px;
    font-family: monospace;
}
/* main section with banner background styles */
.main-bg{
    width: 800px;
    height: 300px;
    margin: 60px auto;
    background-image: linear-gradient(to right, rgba(110, 98, 98, 0.726), rgba(177, 153, 87, 0.644)), url("../images/watch.png");
    border-radius: 7px;
}
.bg-text{
    padding-left: 60px;
    padding-top: 100px;
    font-size: 30px;
    color: white;
}
.bg-title{
    margin-bottom: 20px;
}
/* footer styles */
.footer-container{
    height: 500px;
    background-color: #474747;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding-top: 130px;
    color: rgba(240, 255, 255, 0.651);
}
.left-col{
    width: 500px;

}
.right-col input{
     padding-right: 100px;
     padding: 15px 10px;
     border-radius: 7px;
     border: 0;
     margin-bottom: 20px;
     font-size: 10px;
}
.col-title{
    margin-bottom: 25px;
}
.footer-para{
    margin-bottom: 20px;
    font-size: 17px;
    color: rgba(240, 255, 255, 0.836);
    font-family: fantasy;
}
.footer-icons img{
    margin-top: 40px;
    margin-right: 25px;
    cursor: pointer;
}